{% extends "campaigns/base.html" %}
{% block title %}Toidukogumispäevadel osalejad{% endblock title %}
{% block header %}
        <h1>Toidukogumispäevadel osalejad</h1>
{% endblock header %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-9">

<h2>Valitud asukohad</h2>
<p>{% for location in locations %}{{ location.name }}, {% endfor %}</p>

<h2>Vahetused ja vabatahtlikud</h2>
<ol>
{% for location in locations %}
  <li>{{ location.name }}</li>
  <ol>
    {% for shift in location.campaignlocationshift_set.all %}
    <li>{{ shift.day }}, {{ shift.start }} - {{ shift.end }}</li>
      <p>Vahetuse vanem: {{ shift.shift_leader|default:"-" }}</p></p>
      <p>Vabatahtlikud:</p>
      <ol>
        {% for volunteer in shift.volunteers.all %}
        <li>{{ volunteer }}, tel: {{ volunteer.phone }},
        email: {{ volunteer.email }}, vanus: {{ volunteer.age|default:"-" }},
        märkmed: {{ volunteer.notes|default:"-" }}</li>
        {% endfor %}
      </ol>
    {% endfor %}
  </ol>
{% endfor %}
</ol>

</div>
</div>
</div>
{% endblock content %}
