{% extends "campaigns/base.html" %}
{% block title %}Toidukogumispäevadel osalejad{% endblock title %}
{% block header %}
        <h1>Toidukogumispäevadel osalejad</h1>
{% endblock header %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-9">

<h2>Valitud asukohad</h2>
<p>{% for location in locations %}{{ location.name }}, {% endfor %}</p>

<h2>Vahetused ja vabatahtlikud</h2>
{% for location in locations %}
<h3>{{ location.name }}</h3>

    {% for shift in location.campaignlocationshift_set.all %}
    <h4>{{ shift.day }}, {{ shift.start }} - {{ shift.end }}</h4>
      <p>Vahetuse vanem: {{ shift.shift_leader|default:"-" }}</p></p>
      <p>Vabatahtlikud:</p>
      <table class="table">
        <thead>
          <tr>
            <th>Kohal?</th>
            <th>Nimi</th>
            <th>Telefon</th>
            <th>E-mail</th>
            <th>Vanus</th>
            <th>Märkmed</th>
          </tr>
        </thead>
        <tbody>
        {% for volunteer in shift.volunteers.all %}
          <tr>
            <td>☐</td>
            <td>{{ volunteer }}</td>
            <td>{{ volunteer.phone }}</td>
            <td>{{ volunteer.email }}</td>
            <td>{{ volunteer.age|default:"-" }}</td>
            <td>{{ volunteer.public_notes|default:"-" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endfor %}
{% endfor %}

</div>
</div>
</div>
{% endblock content %}
