{% extends "campaigns/base.html" %}
{% block title %}Toidukogumispäevadel osalejad{% endblock title %}
{% block css %}
<style>
@media print {
  div { float: none !important; }
  table { float: none !important; }
  h3 { page-break-before: always; }
}
</style>
{% endblock css %}
{% block logo %}{% endblock logo %}
{% block content %}
<div class="col-md-9">

{% for location in locations %}
{% regroup location.campaignlocationshift_set.all by day as day_shifts %}
  {% for day in day_shifts %}
  <h3>{{ day.list.0.campaign.name }}, {{ day.grouper }}</h3>
  <h4>{{ location.name }}, {{ location.address }}</h4>
    {% if location.contact_person %}
    <p>Kontaktisik: {{ location.contact_person }}</p>
    {% endif %}
    {% for shift in day.list %}
    <h4>Vahetus: {{ shift.start }} - {{ shift.end }}</h4>
      {% if shift.shift_leader %}
      <p>Vahetuse vanem: {{ shift.shift_leader }}</p>
      {% endif %}
      <p>Vabatahtlikud:</p>
      <table class="table">
        <thead>
          <tr>
            <th>Kohal?</th>
            <th>Nimi</th>
            <th>Telefon</th>
            <th>E-mail</th>
            <th>Vanus</th>
            <th>Märkmed</th>
          </tr>
        </thead>
        <tbody>
        {% for participation in shift.campaignlocationshiftparticipation_set.all %}
        {% with volunteer=participation.volunteer %}
          <tr>
            <td>☐</td>
            <td>{{ volunteer }}</td>
            <td>{{ volunteer.phone }}</td>
            <td>{{ volunteer.email }}</td>
            <td>{{ volunteer.age }}</td>
            <td>{{ volunteer.public_notes }}<br/>{{ participation.shift_public_notes }}</td>
          </tr>
        {% endwith %}
        {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  {% endfor %}
{% endfor %}
</div>

{% endblock content %}
