<!DOCTYPE html>
<html>
<head>
  <title>Toidukogumiskampaania 2016</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <style>
    body { padding: 15px; }
    #selectedShopsAndShifts { padding-left: 10px; float: left; }
    #chooseShopAndShiftButton { float: left; }
    #countySelect { margin-bottom: 24px; }
  </style>
</head>
<body>
  <div class="page-header">
    <h1>Toidukogumiskampaania 2016</h1>
  </div>

  <!-- modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Sulge"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">Vali pood ja vahetus</h3>
        </div>
        <div class="modal-body">
          <h4>Maakond</h4>
          <div id="countySelect">
            <select class="form-control">
              <option value="harjumaa">Harjumaa</option>
              <option value="tartumaa">Tartumaa</option>
              <option value="vorumaa">Võrumaa</option>
            </select>
          </div>

          <h4>Pood ja vahetus</h4>
          <table id="shopAndShiftList" class="table table-responsive">
            <thead>
              <tr>
                <th>Pood</th>
                <th>Vahetused</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Kinnita valik</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ./modal -->

  <!-- form -->
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Pood</label>
      <div class="col-sm-10 form-inline" style="vertical-align: top">
        <button id="chooseShopAndShiftButton" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
          Vali pood ja vahetus
        </button>
        <p class="form-control-static" id="selectedShopsAndShifts"></p>
      </div>
    </div>
  <!-- button for modal -->

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Eesnimi</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3" placeholder="Eesnimi">
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Perenimi</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputPassword3" placeholder="Perenimi">
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Vanus</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputPassword3" placeholder="Vanus">
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Telefon</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputPassword3" placeholder="Telefon">
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">E-mail</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputPassword3" placeholder="E-mail">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Registreeru</button>
      </div>
    </div>

  </form>
  <!-- ./form -->

  <!-- JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script type="text/template" id="shopsAndShiftsTemplate">
    <% _.forEach(shopsAndShifts, function(item) { %>
      <tr>
        <td>${item.shop}</td>
        <td>
          <% _.forEach(item.shifts, function(shift) { %>
            <div class="checkbox"><label>
            <input type="checkbox"
            data-description='<%- item.shop %>, <%- shift.when %>'
              onclick="handleShiftSelect(this)"> ${shift.when}<br>
            (${shift.freePlaces} vaba kohta)
            </label></div>
          <% }); %>
        </td>
      </tr>
    <% }); %>
  </script>

  <script>
    var shopsAndShifts = {
      harjumaa: [{
          shop: 'Tallinn, Tondi Selver',
          shifts: [{
            when: '10. detsember, laupäev, kell 13:00 - 16:00',
            freePlaces: 3
          }, {
            when: '11. detsember, pühapäev, kell 13:00 - 16:00',
            freePlaces: 2
          }]
        }, {
          shop: 'Tallinn, Kristiine Selver',
          shifts: [{
            when: '10. detsember, laupäev, kell 7:00 - 21:00',
            freePlaces: 12
          }, {
            when: '11. detsember, pühapäev, kell 22:00 - 00:00',
            freePlaces: 90
          }]
        }
      ],
      tartumaa: [{
          shop: 'Tartu, Ülejõe Selver',
          shifts: [{
            when: '10. detsember, laupäev, kell 15:00 - 16:00',
            freePlaces: 3
          }, {
            when: '11. detsember, pühapäev, kell 11:00 - 16:00',
            freePlaces: 2
          }]
        }, {
          shop: 'Tartu, Tasku Selver',
          shifts: [{
            when: '10. detsember, laupäev, kell 7:00 - 21:00',
            freePlaces: 12
          }, {
            when: '11. detsember, pühapäev, kell 22:00 - 00:00',
            freePlaces: 90
          }]
        }
      ]
    };

    function getTemplate() {
      return $('#shopsAndShiftsTemplate').text();
    }

    var selectedShifts = [];
    var NOTHING_SELECTED = 'Pood ja vahetus valimata';

    function handleShiftSelect(checkbox) {
      if (checkbox.checked) {
        selectedShifts.push($(checkbox).data('description'));
      } else {
        _.pull(selectedShifts, $(checkbox).data('description'));
      }
      var content = NOTHING_SELECTED;
      if (!_.isEmpty(selectedShifts)) {
        var render = _.template('<% _.forEach(shifts, function (shift) { %>' +
            '<%- shift %><br><% }) %>');
        content = render({shifts: selectedShifts});
      }
      $('#selectedShopsAndShifts').html(content);
    }

    function fillShopAndShiftTable(selectedCounty) {
      var render = _.template(getTemplate());
      $('#shopAndShiftList').html(render({
        shopsAndShifts: shopsAndShifts[selectedCounty]
      }));
    }

    $(document).ready(function () {
        $('#selectedShopsAndShifts').text(NOTHING_SELECTED);

        $('#countySelect > select').change(function () {
          var selection = $(this).val();
          fillShopAndShiftTable(selection);

          selectedShifts = [];
          $('#selectedShopsAndShifts').text(NOTHING_SELECTED);
        });

        // fill table with Harjumaa entries on first click
        $('#chooseShopAndShiftButton').one('click', function() {
          fillShopAndShiftTable('harjumaa');
        });
    });
  </script>

</body>
</html>
