{% extends "campaigns/base.html" %}
{% block title %}Toidukogumispäevad{% endblock title %}
{% block css %}<style>p { padding: 15px; }</style>{% endblock css %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2 class="text-warning">Registreerumiskeskkond suletud</h2>
      <p class="bg-warning">Eesti Toidupank korraldab regulaarselt suuri
      üle-Eestilisi toidukogumisaktsioone ning käesoleval lehel saab
      toidukogumisaktsioonile registreeruda. Kuid hetkel pole
      registreerimiskeskkond veel avatud.</p>
    </div>
  </div>
</div>
{% endblock body %}
